<nav class="bg-green">
  <ul class="flex text-xl font-semibold text-white gap-5 p-10">
    <li><a href="/">Breads</a></li>
    <li>My Cart</li>
    <li>All products</li>
    <% if current_user %>
      <li><%= link_to  "Account", user_path(current_user.id) %></li>
    <% end %>
  </ul>
</nav>
