<div class="w-full">
  <%= image_tag "hero.jpg", class: "h-96 lg:h-auto lg:w-full object-cover bg-blend-overlay brightness-75" %>
  <div class="absolute top-40 lg:top-1/2 left-5 lg:left-10 lg:w-1/2">
    <h1 class="text-3xl lg:text-7xl text-white text-start">Welcome to Le Festin</h1>
    <p class="text-lg lg:text-3xl text-white text-balance backdrop-brightness-75 rounded-xl">Step into our boulangerie patisserie, where every corner exudes the charm and aroma of France.</p>
  </div>