<div class="p-2 border rounded basis-1/1 lg:basis-1/6 shadow-2xl">
  <%= image_tag product.image, class: "rounded lg:h-24 lg:w-48 h-32 w-72 lg:object-cover object-center" %>
  <h6 class="text-lg lg:text-base font-semibold lg:h-14"><%= product.name %></h6>
  <div class="flex lg:block py-3 lg:py-2 items-center">
    <div class="basis-1/2">
      <p class="font-semibold lg:mb-3"><%= number_to_currency(product.price) %></p>
    </div>
    <div class="basis-1/2 text-right">
      <%= link_to "Add to cart", product_path(product), class: "btn btn-primary bottom-0" %>
    </div>
  </div>
</div>
