<div class="pt-32 px-5 lg:px-10">
  <h2 class="text-2xl font-bold text-center uppercase py-5">Breads</h2>
  <div class="flex gap-4 py-5 overflow-auto">
    <% @breads.each do |product| %>
      <div class="p-2 whitespace-nowrap border rounded shadow-xl">
        <%= image_tag product.image, class: "rounded lg:h-42 h-32 w-80 lg:w-92 lg:object-cover object-center mx-auto" %>
        <div class="flex gap-2 py-3 lg:py-2 align-center">
          <h6 class="text-lg lg:text-base"><%= product.name %></h6>
            <p class="text-sm font-semibold"><%= number_to_currency(product.price) %></p>
            <%= link_to "Add to cart", product_path(product), class: "btn btn-primary bottom-0" %>
        </div>
      </div>
    <% end %>
  </div>
</div>