<div class="mt-5">
  <div class="flex gap-3 lg:gap-5 flex-wrap justify-center">
    <% @products.each do |product| %>
      <%= render "product_card", product: product %>
    <% end %>
  </div>
</div>
