<div class="pt-36">
  <h3 class="text-3xl font-semibold text-center mb-5"><%= @product.name %></h3>
  <div data-controller="calculator" class="grid grid-cols-1 lg:grid-cols-5 lg:gap-10 justify-center">
    <%= image_tag @product.image, class: "rounded lg:col-span-2" %>
    <div class="col-span-3">
      <% if @cart_item.id  %>
        <%= render 'edit_cart_item' %>
      <% else %>
        <%= render 'new_cart_item' %>
      <% end %>
    </div>
  </div>
</div>
